python-dotenv
segments-ai
ipykernel
ultralytics
Deprecated

# torch version that is compatible with detectron
# pip install torch==1.9.1+cu111 torchvision==0.10.1+cu111 torchaudio==0.9.1 -f https://download.pytorch.org/whl/torch_stable.html


# for torch with cuda
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# for torch with cpu
# pip3 install torch torchvision torchaudio
